@CHARSET "UTF-8";

html {
/* 	filter: sepia(100%); */
/* 	filter: saturate(3%); */
/* 	filter: opacity(50%); */
/* 	filter: invert(80%); */
/* 	filter: hue-rotate(180deg) ; */
/* 	filter: contrast(200%) brightness(0.5); */
/* 	filter: grayscale(0.5) blur(10px); */
/* 	-webkit-filter: grayscale(0.5) blur(10px); */
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: black;
/* 	filter: grayscale(0.5) blur(10px); */
}

.whole_screen {
	width: 100%;
	height: 100%;
}

.flag {
/* 	background-color: grey; */
/* 	border: blue 3px dashed; */
	background: url('../media/Flag_of_Poland.svg') no-repeat center center fixed;
	background-size: contain;
	
	width: 100vw; 
    height: 62.5vw; /* height:width ratio = 10/16 = .625  */
    max-height: 100vh;
    max-width: 160vh; /* 16/10 = 1.6 */
    margin: auto;
    position: absolute;
    top: 0; bottom:0; /* vertical center */
    left: 0; right:0; /* horizontal center */
}

.top_half {
	width: 100%;
	height: 50%;
/* 	border: 2px dotted grey; */
}

.width_chooser {
	min-width: 15%;
	max-width: 25%;
/* 	border: 2px dotted grey; */

	/* horizontal center */
	margin: auto;
	
	/* vertical center */
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.image_container {
	/* fixed aspect ratio */ 
	width: 100%;
	padding-bottom: 100%; /* 1:1 */
/* 	background: yellow; */
}

.Herb_Polski {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}
