@CHARSET "UTF-8";

html {
/* 	filter: sepia(100%); */
/* 	filter: saturate(3%); */
/* 	filter: opacity(50%); */
/* 	filter: invert(80%); */
/* 	filter: hue-rotate(180deg) ; */
/* 	filter: contrast(200%) brightness(0.5); */
/* 	filter: grayscale(0.5) blur(10px); */
/* 	-webkit-filter: grayscale(0.5) blur(10px); */
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: black;
/* 	filter: grayscale(0.5) blur(10px); */
}

.whole_screen {
	width: 100%;
	height: 100%;
	
/* 	background-color: grey; */
	background: url('../media/Flag_of_Poland.svg') no-repeat center center fixed;
	background-size: cover;
}

.top_half {
	width: 100%;
	height: 50%;
/* 	border: 2px dotted grey; */
}

.width_chooser {
	min-width: 10%;
	max-width: 20%;
/* 	border: 2px dotted grey; */

	/* horizontal center */
	margin: auto;
	
	/* vertical center */
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.image_container {
	/* fixed aspect ratio */ 
	width: 100%;
	padding-bottom: 100%; /* 1:1 */
/* 	background: yellow; */
}

.Herb_Polski {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}

/* The animation code */
@keyframes Herb_Polski_anim {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* The element to apply the animation to */
.Herb_Polski_fadein {
    animation-name: Herb_Polski_anim;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
/*     animation-delay: 1s; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
} 
