@CHARSET "UTF-8";

html {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

@keyframes bluur {
    from {
    	filter: blur(2px);
    	-webkit-filter: blur(2px);
    }
    to {
    	filter: blur(4px);
    	-webkit-filter: blur(4px);
    }
}

.bluur-anim {
	animation-name: bluur;
	animation-duration: 0.05s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: black;
}

.whole_screen {
	width: 100%;
	height: 100%;
}

.flag1 {
/* 	background-color: grey; */
/* 	border: blue 3px dashed; */
	background: url('../media/Flag_of_Poland.svg') no-repeat center center fixed;
	background-size: contain;
	
	width: 100vw;
    height: 56.25vw; /* height:width ratio = 10/16 = .625  */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/10 = 1.6 */
    margin: auto;
    position: absolute;
    top: 0; bottom:0; /* vertical center */
    left: 0; right:0; /* horizontal center */
    z-index: 0;
}

.flag2 {
/* 	background-color: grey; */
/* 	border: blue 3px dashed; */
	background: url('../media/polska.jpg') no-repeat center center fixed;
	background-size: contain;
	
	width: 100vw;
    height: 56.25vw; /* height:width ratio = 10/16 = .625  */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/10 = 1.6 */
    margin: auto;
    position: absolute;
    top: 0; bottom:0; /* vertical center */
    left: 0; right:0; /* horizontal center */
    z-index: -1;
}

.top_half {
	width: 100%;
	height: 50%;
/* 	border: 2px dotted grey; */
}

.width_chooser {
/* 	min-width: 15%; */
/* 	max-width: 25%; */
	width: 22%;
/* 	border: 2px dotted grey; */

	/* horizontal center */
	margin: auto;
	
	/* vertical center */
	position: relative;
	top: 55%;
	transform: translateY(-50%);
}

.image_container {
	/* fixed aspect ratio */ 
	width: 100%;
	padding-bottom: 100%; /* 1:1 */
/* 	background: yellow; */
}

.Herb_Polski {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	opacity: 0;
}
