@CHARSET "UTF-8";


html { 
	background: url(../media/polska.jpg) no-repeat center center fixed;
	background-size: cover;
	background-color: grey;
}


video {
	max-width: 80%;
	max-height: 80%;
	
/* 	position: fixed; */
/* 	top: 50%; */
/* 	left: 50%; */
/* 	min-width: 100%; */
/* 	min-height: 100%; */
/* 	width: auto; */
/* 	height: auto; */
/* 	-webkit-transform: translateX(-50%) translateY(-50%); */
/* 	transform: translateX(-50%) translateY(-50%);	 */
/*	
	background: url(polina.jpg) no-repeat;
	background-size: cover;
*/
}